<center><h1>Editing Library</h1>

<%= render 'form', library: @library %>
<br/>

<% if !current_admin.nil? %>
	<%= link_to 'Back', show_libraries_path,class:"btn btn-dark" %>	
<% elsif !current_librarian.nil? %>
	<%= link_to 'Back', librarians_path,class:"btn btn-dark" %>
<% else %>
	<%= link_to 'Show', @library %> |
	<%= link_to 'Back', libraries_path,class:"btn btn-dark" %>
<% end %>
</center>