<div class="container">
<p id="notice"><%= notice %></p>

<h3><u> Books from your library </u></h3>
<strong>Note:</strong> You can edit only books from your library.<br><br>
<table class="table table-light table-striped  table-bordered border-dark">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Special collection</th>
      <th>Library</th>
      <th>Count</th>
      <th  colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.category %></td>
        <td><%= book.special_collection %></td>
        <td><%= Library.all.where(:id=>book.library_id).first.name %></td>
        <td><%= book.count %></td>

        <td><button type="button" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
        <%= link_to 'Show/Edit', book, class:"text-white text-decoration-none" %>
        </button></td>


        <td><button type="button" class="btn btn-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
        </svg>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white text-decoration-none" %>
        </button></td>

        <td><button type="button" class="btn btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
        <%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book, class:"text-black text-decoration-none" %>       
        </button></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
<br><br><br><h3><u>All Books</u></h3>
<table class="table table-light table-striped  table-bordered border-dark">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Special collection</th>
      <th>Library</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.category %></td>
        <td><%= book.special_collection %></td>
        <td><%= Library.all.where(:id=>book.library_id).first.name %></td>
        <td><%= book.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- <h3><u> Books from your library </u></h3>
<strong>Note:</strong> You can edit only books from your library.<br><br>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Special collection</th>
      <th>Library</th>
      <th>Count</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.category %></td>
        <td><%= book.special_collection %></td>
        <td><%= Library.all.where(:id=>book.library_id).first.name %></td>
        <td><%= book.count %></td>
        <td><%= link_to 'Show/Edit', book %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br><br><br><h3><u>All Books</u></h3>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Special collection</th>
      <th>Library</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.category %></td>
        <td><%= book.special_collection %></td>
        <td><%= Library.all.where(:id=>book.library_id).first.name %></td>
        <td><%= book.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

